{
    "AppPort": 8080,
    "Debug": false,
    "MainDBConf": {
        "Host": "127.0.0.1",
        "Port": 3306,
        "User": "root",
        "Password": "",
        "DBName": "db_weassistant"
    },
    "MainRedisConf": {
        "Host": "127.0.0.1",
        "Port": 6379,
        "Password": "",
        "DBNo": 0,
        "PoolSize": 0
    },
    "SentryDSN": "",
    "JwtValidationKey": ""
}
